@use 'theme';

$vertical-padding: 2rem;

.root {
	max-width: 80rem;
	width: 95%;
	height: 100%;
	margin: 0 auto;
	padding-top: $vertical-padding;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 2rem;
	font-weight: 900;
	color: theme.$blue;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.7;
	}
}

.question {
	margin-top: 2rem;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
	padding: 1rem 0;
	font-weight: 700;
	border-top: 2px solid theme.$gray;
	border-bottom: 2px solid theme.$gray;
}

.answer {
	margin-top: 2rem;
}

.related {
	margin-top: 2rem;
}

.comments {
	margin-top: 2rem;
}

.bottomSpacer {
	height: $vertical-padding;
}
